<% layout('layouts/boilerplate')  %>
<div class="text-center">
    <h1>Edit Campground</h1>
</div>
         <form action="/campgrounds/<%= campground._id %>?_method=PUT"  method="POST" novalidate class="validated-form">
              <div class="mb-3">
                  <label class="form-label" for="title">Title</label>
                  <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
                  <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="mb-3">
                  <label  class="form-label"  for="location">Location</label>
                  <input  class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
                  <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="mb-3">
                  <label  class="form-label"  for="image">Image URL</label>
                  <input  class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %>" required>
                  <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="mb-3">
                  <label  class="form-label"  for="price">Campground Price</label>
              <div class="input-group">
                  <span class="input-group-text" id="price-label">₹</span>
                  <input type="text" id="price" class="form-control" placeholder="0.00" name="campground[price]" aria-label="price" aria-describedby="price-label" value="<%= campground.price %>" required>
                  <div class="valid-feedback">
                    This should be a number!
                </div>
                </div>
              </div>
              <div class="mb-3">
                  <label  class="form-label"  for="description">Description</label>
                  <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
                  <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>  
              </div>
              
          </form>
          <div>
            <a href="/campgrounds/<%= campground._id %>">Back to Campgrounds</a>
        </div>
      </div>
  </div>
  